/*#region Fonts*/
@font-face {
  font-family: "Amazon";
  src: url("../essets/fonts/Amazon-Ember-Medium.ttf");
}
/*#endregion Fonts*/

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Amazon", sans-serif;
  font-weight: 400;
  --dark: #131921;
  --lighter-dark: #232f3e;
  --a-yellow: #ffd814;
  --a-orange: #ffa41c;
  --a-tan: #febd69;
  --text-grey: #565959;
  --text-turquoise: #007185;
  --text-orange: #c7511f;
  --text-orange-2: #f08804;
}

/*#region Utils*/
.cp{
  cursor: pointer;
}
.cd{
  cursor: default;
}
.turquoise{
  color: var(--text-turquoise)
}
.bold{
  font-weight: 700;
}
.pt-10{
  padding-top: 10px
}
.pb-10{
  padding-bottom: 10px;
}
.pt-5{
  padding-top: 5px
}
.pb-5{
  padding-bottom: 5px;
}
.divider{
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  margin-right:10px
}

.fx {
  display: flex;
}
.fdc {
  flex-direction: column;
}
.jc-c {
  justify-content: center;
}
.ai-c {
  align-items: center;
}
.ai-fs {
  align-items: flex-start;
}
/*#endregion Utils*/

.top-nav {
  list-style: none;
  color: white;
  background-color: var(--dark);
}
.top-nav ul {
  list-style: none;
}

.top-nav li .top-li-title {
  font-size: 12px;
}
.top-nav li .bottom-li-title,
.top-nav .li-7 .right-cart {
  font-size: 14px;
  font-weight: 700;
}
.top-nav .li-1 {
  padding: 5px;
}
.top-nav .li-1 .main-logo {
  background: url("/essets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -10px -51px;
  width: 96px;
  height: 29px;
}

.top-nav .li-3 {
  justify-content: center;
}
.li-3 {
  min-width: 100%;
  height: 38px;
}

.li-3 input {
  width: 86.5%;
  border: none;
}
.li-3 .b-left {
  width: 4.5%;
  background: white;
  color: black;
  border-radius: 5px 0 0 5px;
  border-right: 1px rgba(0, 0, 0, 0.287) solid;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.li-3 .li-3-button-right {
  width: 4%;
  background: var(--a-tan);
  justify-content: center;

  border-radius: 0px 5px 5px 0px;
}
.li-3 .li-3-button-right i {
  color: black;
  align-self: center;
}
.top-nav .li-4 span {
  background: url("/essets/images/flags.png") no-repeat 0 -130px;
  width: 24px;
  height: 18px;
  align-self: center;
}
.top-nav i {
  align-self: center;
  padding: 0 2px;
  color: #a7acb2;
}

.top-nav .li-7 .left-cart {
  background: url("/essets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -218px -337px;
  width: 41px;
  height: 28px;
  position: relative;
}
.top-nav .li-7 .left-cart .cart-num {
  position: absolute;
  left: 48%;
  top: -10%;
  color: var(--text-orange-2);
}

.top-nav .li-7 .right-cart {
  align-self: center;
}
.ul-1 {
  /* border: solid 2px yellow; */
  width: 15%;
  min-width: 260px;
  justify-content: space-around;
}
.ul-2 {
  /* border: solid 2px yellow; */
  width: 65%;
  justify-content: center;
}
.ul-3 {
  /* border: solid 2px yellow; */
  width: 20%;
  min-width: 365px;
  justify-content: space-around;
}
.ul-1,
.ul-2,
.ul-3 {
  padding: 10px 0;
}
.li-1,
.li-2,
.li-3,
.li-4,
.li-5,
.li-6,
.li-7 {
  border: solid 1px rgba(255, 255, 255, 0);
  cursor: pointer;
}
.li-1:hover,
.li-2:hover,
.li-4:hover,
.li-5:hover,
.li-6:hover,
.li-7:hover {
  border: solid 1px rgb(255, 255, 255);
}

.bottom-nav {
  background-color: var(--lighter-dark);
  justify-content: space-between;
  /* border: solid 2px red; */
  padding: 0 10px;
}
.bottom-nav ul {
  color: white;
  list-style: none;
  font-size: 14px;
  /* border: solid 2px red; */
  padding: 5px 0;
}

.bottom-nav ul li {
  padding: 5px 10px;
  border: solid 1px rgba(255, 255, 255, 0);
  cursor: pointer;
}
.bottom-nav ul li:hover {
  border: solid 1px rgb(255, 255, 255);
}
.bot-ul-1 {
  min-width: 1000px;
}
.bot-ul-2 {
  min-width: 200px;
}
.bot-ul-2 li {
  font-weight: 700;
}

.hero-container {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1500px;
  /* border: solid 1px red; */
  /* have to remove late  */
  /* height: 80vh; */

  /*  */
}
.hero-container .orange-banner {
  margin: 0 auto;
  min-width: 650px;
}
.hero-container .hero-ul {
  list-style: none;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
.hero-container .hero-ul li {
  padding-right: 5px;
}
.hero-container .hero-ul .li-underline {
  cursor: pointer;
}
.hero-container .hero-ul .li-underline:hover {
  text-decoration: underline;
}
.hero-content-wrapper {
  height: 100%;
  /* border: solid 1px green; */
  gap:10px;
  position: relative;
}
.content-1 {
  width: 5%;
}


.content-2 {
  width: 45%;
  background: url("../essets/images/hero.jpg") no-repeat center center ;
  background-size: 100%;
  background-position-y: top;
}
.content-3 {
  width: 37%;
  /* border: solid 1px rgb(25, 0, 255); */
  font-size: 14px;
  padding-left: 30px;
  /* border-bottom: solid 1px rgba(0, 0, 0, 0.247); */
}
.content-4 {
  width: 17%;
  /* border: solid 1px rgb(255, 0, 0); */
}
.content-1 div .small-pics {
  width: 40px;
  height: 40px;
  border: solid 1px rgba(0, 0, 0, 0.376);
  margin-bottom: 10px;
}


.content-3 h1{
  font-size: 24px;
  padding-bottom: 5px;
}
.content-3 .brand{
  color: var(  --text-turquoise);

}


.title-stars{
  color: var(  --text-turquoise);

}
.title-stars div{
  background: url('../essets/images/stars-1.png') no-repeat -175px -369px;
	width: 79px;
	height: 15px;
  margin-right: 20px;
  
}
.price-tag{
  padding-right: 5px;
}
.price-2{
  color:#b12704;
  font-size: 18px;
}
.free-ship{
  font-weight: 700;
}

.brand-list-wrapper ul {
  list-style: none;
}
.brand-list-wrapper ul li{
padding-bottom: 10px;
padding-right: 10px;
}
.brand-list-wrapper  .brand-1 li{
  font-weight: 700;

}
.description-1{
  color:rgba(0, 0, 0, 0.705);

}
.details{
  color:var(--text-turquoise)
}
.about-title{
  font-size: 16px;
}
.brand-3{
  padding-left:20px;
}
.brand-3 li{
  padding-bottom: 5px;
}
.new{
  padding-top:20px;
}
.inside-content-4{
  border: solid 1px rgba(0, 0, 0, 0.247);
  padding: 14px 18px;
  border-radius:10px;
  font-size: 14px;
  min-width: 206px;
  height: 100%;
  line-height: 20px; 
}
.inside-content-4 .deliver{
  font-size:12px;

}
.in-stock{
  font-size:18px;
  color: #007600;
}
.qty{
  font-size: 11px;
  border:solid 1px rgba(0, 0, 0, 0.205);
  padding:2px 10px;
  border-radius:6px;
  background-color:#f5f5f5
}
.button{
  margin-top:10px;
  font-size:14px;
  border-radius: 40px;
  text-align: center;
  padding: 5px 0px;
}
.bt-1{

  background-color:var( --a-yellow);
}
.bt-2{
  background-color:var( --a-orange);
  margin-top:10px;
  margin-bottom:10px;
}
.ship-from{
  font-size:12px;
}
.divider-3{
  
  position: absolute;
  /* border:solid 5px red; */
  width:82.6%;
  bottom:0;
  left:0;
}
.bottom-b-1 {
  margin-top: 10px;;
border: 1px rgba(0, 0, 0, 0.3) solid;
border-radius:5px;
background: #f1f2f5;
}
.bottom-b-1-r{
  width:85%;
  padding: 5px 11px;

  
}
.bottom-b-1-l{
  margin-left: 10px;;
  border-left:1px rgba(0, 0, 0, 0.3) solid;
  width: 15%;
  display: flex;justify-content:center;
  align-items: center;
}
.bottom-b-1-l-2{
  margin-left: 10px;;
  border-left:none;
  width: 15%;
  display: flex;justify-content:center;
  align-items: center;
}

.carousel{
  margin-top:30px;
  width:100%;
  border-top:solid 1px rgba(0, 0, 0, 0.13);
  padding-top:20px;
  padding-bottom:50px;
  /* border: solid 2px blue; */
  /* height: 400px; */
}
.carousel-content{
  min-width: 160px;
  max-width:84%;
  gap:20px;
  /* overflow:scroll; */
  overflow-x:scroll;
  /* overflow-y:hidden; */

}
.carousel-content::-webkit-scrollbar {
  display: none;
}
.left-c{
  /* border:solid 2px green; */
  width:8%;
  display:flex;
  align-items: center
}
.left-c i{
  border:solid 1px rgba(0, 0, 0, 0.363);
  padding:8px 10px;
  border-radius: 4px
}
.right-c{
  /* border:solid 2px green; */
  width:8%;
  display:flex;
  align-items: center;
  justify-content:flex-end
}
.right-c i{
  border:solid 1px rgba(0, 0, 0, 0.363);
  padding:8px 10px;
  border-radius: 4px

}

.carousel-card{
  min-width:160px;
  max-width: 160px;
  font-size:14px;
  overflow: hidden;
}
.carousel-card img{
  min-height: 160px;
  max-height: 160px;
}
.carousel-card .card-info{
  color: var(--text-turquoise);
}
.carousel-card .stars{
  background: url('/essets/images/stars-1.png') no-repeat -175px -369px;
  width: 79px;
  min-height: 15px;
  margin-top:5px;
}
.carousel-card .day{
font-weight: 700;
}
.carousel-card .c-price{
  padding-top:5px;
  font-size:17px;
}
.carousel-card .get-it{
  font-size: 12px;
  padding-top:5px
}
.carousel-card .d-day{
  font-weight: 700;
  font-size:12px;
  padding-top:5px

}
.carousel-card .d-day{
  font-weight: 700;
  font-size:12px;
  padding-top:5px

}
.carousel-card .b-info{
  font-size:12px;
  padding-top:5px

}